<section>
  <% if !current_user.nil? %>
    <h2>TITLE: <%= @script.title %></h2>
    <h4>DESCRIPTION: <%= @script.description %></h4>
    <% @presentation_id = @script.presentation_id  %>
    <p>Presentation ID: <%= @presentation_id %></p>
    <p><%= @presentation.slides.count %> slides</p>
    <a href="/view/<%= @script.id %>" ><button>FINISH EDIT</button></a>
    <a href="/update/<%= @script.id %>" id="id_link"></a>
    <h4>CONTRIBUTORS(<%= @contributors.count %>)</h4>
    <% @contributors.each do |contributor| %>
      <p><%= contributor.name %></p>
    <% end %>
  <% end %>
  <div>
		<table>
			<thead>
				<tr>
					<th>Num</th>
          <th>Thumbnail</th>
					<th>Role</th>
					<th>Line</th>
				</tr>
			</thead>
			<tbody>
        <% @lines.each_with_index do |line, i| %>
          <tr>
            <td><%= line.order_num+1 %></td>
            <td><img src="<%= line.thumbnail_url %>"></img></td>
            <td><select name="role" class="auto-save role" id="<%= line.order_num %>">
              <% @contributors.each do |contributor| %>
                <option value="<%= contributor.name %>"><%= contributor.name %></option>
              <% end %>
            </select></td>
            <td>
              <input type="text" class="auto-save body" id="<%= line.order_num %>" value="<%= line.body %>">
            </td>
          </tr>
        <% end %>
			</tbody>
		</table>
	</div>
</section>