<section class="container">
  <% if !current_user.nil? %>
    <h2>TITLE: <%= @script.title %></h2>
    <h4>DESCRIPTION: <%= @script.description %></h4>
    <% @presentation_id = @script.presentation_id  %>
    <p>Presentation ID: <%= @presentation_id %></p>
    <p><%= @presentation.slides.count %> slides</p>
    <a href="/view/<%= @script.id %>" ><button>FINISH EDIT</button></a>
    <a href="/update/<%= @script.id %>" id="id_link"></a>
    <h4>CONTRIBUTORS <span class="badge"><%= @contributors.count %></span> </h4>
    <% @contributors.each do |contributor| %>
      <p><%= contributor.name %></p>
    <% end %>
  <% end %>
  <div>
		<table class="table">
			<thead class="bg-brown">
				<tr class="row">
					<th class="col-lg-1">Num</th>
          <th class="col-lg-3">Thumbnail</th>
					<th class="col-lg-1">Role</th>
					<th class="col-lg-7">Line</th>
				</tr>
			</thead>
			<tbody>
        <% @lines.each_with_index do |line, i| %>
          <tr class="row">
            <td class="col-lg-1"><%= line.order_num+1 %></td>
            <td class="col-lg-3"><img src="<%= @thumbnails[i] %>"></img></td>
            <td class="col-lg-1"><select name="role" class="auto-save role" id="<%= line.order_num %>">
              <% @contributors.each do |contributor| %>
                <option value="<%= contributor.name %>"><%= contributor.name %></option>
              <% end %>
            </select></td>
            <td class="col-lg-7">
              <input type="textarea" class="auto-save body" id="<%= line.order_num %>" value="<%= line.body %>">
            </td>
          </tr>
        <% end %>
			</tbody>
		</table>
	</div>
</section>