<section>
	<div class="container">
		<% if current_user.nil? %>
			<div class="signup center-vertical">
				<form action="/signin" method="post">
					<div class="brown-box">
						<h1>Log In</h1>
						<div class="inputs">
							<input class="" type="text" name="name" placeholder="Enter your name"><br>
							<input class="" type="password" name="password" placeholder="Password"><br>
						</div>
						<div class="">
							<input class="" type="submit" value="Log In">
							<div><a href="/signup" class="bg-brown">Or Sign In</a></div>
						</div>
					</div>
				</form>
			<div>
			<div class="how-to title-section">
				<h2>How to use <span class="use-font">suPPscript</span></h2>
			</div>
		<% else %>
			<div class="title-section">
				<h2><%= current_user.name %>'s Scripts  <span class="badge badge-pill badge-color"><%= @scripts.count %></span> </h2>
			</div>
			<div>
				<table class="table">
					<thead class="bg-brown">
						<tr>
							<th>TITLE</th>
							<th>Description</th>
							<th>Contributors</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% if !@scripts.empty? %>
							<% @scripts.each do |script| %>
								<tr>
									<td><a href="/view/<%= script.id %>" class="bg-white"><%= script.title %></a></td>
									<td><%= script.description %></td>
									<td>
										<% contributors = Contributor.where(scripts_id: script.id) %>
										<% contributors.each do |contributor| %>
											<p><%= contributor.name %></p>
										<% end %>
									</td>
									<td>
									<p><a href="/edit/<%= script.id %>"><button class="bg-red btn-like">EDIT</button></a></p>
									<p><a class="delete-btn" id ="/delete/<%= script.id %>"><button class="bg-brown btn-like">DELETE</button></a></p>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>
</section>