<section>
	<%# <div>
		<form action="/test" name="TEST" method="post">
			<input type="text" name="test_url" placeholder="URL of your googleslide">
			<input type="submit" value="Submit">
		</form>
	</div> %>
	<div>
		<%# <% @presentation.slides.each_with_index do |slide, i| %>
  	<%# <%= slide.page_elements.count %>

  	<%# <h3>The title of this presentation is <%= @presentation.title %></h3> %>
		<%# <h3>This presentation contains <%= @presentation.slides.count %> slides</h3> %>
		<%# <p><%= @page %> </p> %>
		<%# <img src="<%= @thumbnail.content_url %>"></img> %>
	</div>
	<h3>Create New Scipt!</h3>
	<form action="/newScript" name="NEWSCRIPT" method="post">
		<label for="title">Title of your script</label>
		<input type="text" name="title" placeholder="Title of your scipt"><br>
		<label for="description">Description of your script</label>
		<input type="text" name="description" placeholder="Decribe your script"><br>
		<label for="keyword">Keyword of your script</label>
		<input type="text" name="keyword" placeholder="Keyword to access the script"><br>
		<label for="presentation_url">URL of your script</label>
		<input type="text" name="presentation_url" placeholder="URL of your googleslide"><br>
		<div id="input_pluralBox">
			<div id="input_plural">
				<input type="text" name="ctbt_0" class="ctbt" placeholder="Add contributor">
				<input type="button" value="＋" class="add pluralBtn">
				<%# <input type="button" value="－" class="del pluralBtn"> %>
			</div>
		</div>
		<input type="submit" id="new-script" value="Submit">
		<%# <button id="new-script">test</button> %>
	</form>

	<div>
		<table>
			<thead>
				<tr>
					<th>TITLE</th>
					<th>Description</th>
					<th>Contributors</th>
					<th>Keyword</th>
				</tr>
			</thead>
			<tbody>
					<% if !current_user.nil? %>
					logged in
						<% if !@scripts.empty? %>
							<% @scripts.each do |script| %>
								<tr>
									<td><a href="/view/<%= script.id %>"><%= script.title %></a></td>
									<td><%= script.description %></td>
									<td>
										<% contributors = Contributor.where(scripts_id: script.id) %>
										<% contributors.each do |contributor| %>
											<p><%= contributor.name %></p>
										<% end %>
									</td>
									<td><%= script.keyword %></td>
								</tr>
							<% end %>
						<% end %>
					<% end %>
				<tr>
					<td colspan="4">
						<a href="/">New Task</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>