<section>
  <% if !current_user.nil? %>
    <h2>TITLE: <%= @script.title %></h2>
    <h4>DESCRIPTION: <%= @script.description %></h4>
    <p>Presentation ID: <%= @script.presentation_id %></p>
    <p><%= @presentation.slides.count %> slides</p>
    <a href="/edit/<%= @script.id %>"><button>EDIT</button></a>
    <h4>CONTRIBUTORS(<%= @contributors.count %>)</h4>
    <% @contributors.each do |contributor| %>
      <p><%= contributor.name %></p>
    <% end %>

  <% end %>
  <div>
		<table>
			<thead>
				<tr>
					<th>Num</th>
          <th>Thumbnail</th>
					<th>Role</th>
					<th>Line</th>
				</tr>
			</thead>
			<tbody>
        <% @lines.each_with_index do |line, i| %>
          <tr>
            <td><%= line.order_num+1 %></td>
            <td><img src="<%= line.thumbnail_url %>"></img></td>
            <td><p><%= Contributor.find(line.contributors_id).name %></p></td>
            <td><%= line.body %></td>
          </tr>
        <% end %>
			</tbody>
		</table>
	</div>
</section>